@import './constants.scss';

*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    // background-image: url(../media/hero-shape-1.png);
    // background-size: cover;
    // background-repeat: no-repeat; 
    background-color: rgb(255, 237, 241);
    margin-top: 3rem;
    .main{
        opacity: 1;
        .para1{
            font-size: 60px;
            margin-top: 0.5rem;

        }
        .para2{
            margin-top: 1rem;
            font-size: 20px;
        }
      
        .button{
            background-color: orangered;
            padding: 1rem;
            color: white;
            border: none;
            font-size: 17px;
            border-radius: 5px;
            margin-top: 2rem;
        }
       
    }
}