@import './constants.scss';
// *{
//     margin: 0;
//     padding: 0;
// }
.container{
    background-color: rgb(252, 235, 238);
    height: 600px;
    width: 1252px;
    margin-top: 5rem;
    
    .main{
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 2rem;
        .paragraph{
            font-family: "Forum";
            font-weight: 300;
            font-size: 45px;
            margin-top: 0.5rem;
        }
    .button1:hover{
                background-color: orangered;
             color: white;
    }
                .anc:hover{
                color: white;
                }
                
                
        
        .grid{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;
            column-gap: 20px;
 
        }
        .image{
            width: 230px;
            height: 240px;
        }
    }
}