@import './constants.scss';
// *{
//     margin: 0;
//     padding: 0;
// }
.main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 19, 19);
    padding: 0.5rem;
    // position: fixed;
    // top: 0;
    // left:0;
    width:1240px;
}